@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");

body {
  background-color: #131722;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #fff;
}
.top {
  height: 1px;
  background-color: #fff;
}

img {
  cursor: pointer;
}
